.amsel-drawer {
  border: medium none;
}

.amsel-drawer-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}

.amsel-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.amsel-avatar-dropdown {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.amsel-drawer .amsel-navigation {
    z-index: -2;
}

.amsel-layout .amsel-navigation .mdl-navigation__link {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}

.amsel-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}

.amsel-layout .amsel-navigation .mdl-navigation__link {
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}

html, body {
    font-family: "Roboto","Helvetica",sans-serif;
}
